# Package Files #
*.jar
*.war
*.ear

*/target
/bin

*.log.*
*.log
/.classpath
/.project
.settings/

*.idea*
*.project
*.iml

*.class
/*/.classpath

/target/

*index*
/GoogleNews-vectors-negative300.bin
/model_fast_text_Base.bin
/facebook_model.bin
/GoogleNews-vectors-negative300-SLIM.bin
